
.form-login {
    width:400 !important;
    transform: translate(0%, 35%);
}

.menu-titile {
    max-width: 200px;
    background-color:#91CDA8;
    border-radius: 22px;
}
.menu-text-title {
    padding: 1.4rem;
    font-size: 32px;
}

.menu-text-issue {
    font-size: 23px;
}


/* Ipad */
@media (min-width: 481px) and (max-width: 800px) {

}

/* Mobile */
@media (min-width: 320px) and (max-width: 480px) {

}